# Copy this file to .env and set your MongoDB cloud address.
# Get your URI from MongoDB Atlas: Database -> Connect -> Connect your application.

PORT = 3369
MONGODB_URI = mongodb+srv://gopivarri1_db_user:gopivarri@cluster0.qxrnfy4.mongodb.net/?appName=Cluster0
JWT_SECRET = bdd819e8286f7c63a022c4a8b596fb67ee7a7e5e36bb660b1a41c46e057e9020058aba4b2ca62d63f03c326856af35431405f0002cb04092d056848e13380f19